body {
  backgroud-color: red;
}
h2{
  color: purple;

}
div{
  background: grey;

}

.flex-container{
display: -webkit-flex;
display: -moz-flex;
display: flex;
-webkit-justify-content: space-between;
-moz-justify-content: space-between;
justify-content: space-between;
width: 800px;
height: 200px;
background-color:lightgrey;
margin:30px auto;
}
