{% load static %}

<html>
<head>
  <title>Details car page</title>
  <link rel="stylesheet" type="text/css" href="{% static '/register.css' %}" />
</head>
<body>
<div>


</div>
<div style="height: 300px; border: 5px;">
<h2><b>Veicolo</b></h2>
{% for car in cars %}
<h3>Modello: {{ car.model }}</h3>
<h3>Targa: {{ car.licenseplate }}</h3>
<h3>Porte: {{ car.doors }}</h3>
<h3>Posti: {{ car.seats }}</h3>

</div><br>
<div style="height: 575px; float: left; width: 35%; border: 5px;">
  <h2><b>Lista prenotazioni veicolo</b></h2>

</div>
<div style="height: 575px; float: right; width: 63.5%; border: 5px;">
  <h2><b>Prenota veicolo  </b></h2>
  <form action="{% url 'details' id=car.id %}" method="post">
    {% csrf_token %}
    <b>  {{ form.as_p }} <b><br>
      <br><input type="submit" value="Prenota">


      {% if messages %}
         {% for message in messages %}
             {{ message }}
         {% endfor %}
      {% endif %}

  </form>
</div>
{% endfor %}

</body>
</html>
